@* Unfortunately, _ViewImports does not kick in for ViewComponents, so have to include the tag helper here too *@
@addTagHelper *, KAT.Camelot.Domain.Web
@using KAT.Camelot.RCL.KatApp.ViewComponents
@model KatApp.Model;

<div data-id="@Model.Name" class="@Model.Css"></div>

@{
	var currentCulture = System.Globalization.CultureInfo.CurrentCulture;
	var currentUICulture = System.Globalization.CultureInfo.CurrentUICulture;
	var currencyCode = new System.Globalization.RegionInfo(currentCulture.Name).ISOCurrencySymbol;
	var numberFormat = currentCulture.NumberFormat;
}

<script>
	function ready(fn) {
		if (@(Model.UseCamelotOnReady ? "true" : "false")) {
			document.addEventListener('camelot.on.ready', fn);
		}
		else if (document.readyState !== 'loading') {
			(async () => {
				await fn();
			})();
		} else {
			document.addEventListener('DOMContentLoaded', fn);
		}
	}
	ready(async () => {
		try {
			// console.log("Creating KatApp: @Model.Name");
			
			await KatApp.createAppAsync(".@Model.Name",
				{
					"view": "@Model.View",
					"userIdHash": "@Model.UserIdHash",
					"dataGroup": "@Model.DataGroup",

					"canProcessExternalHelpTips": @(Model.Name == "katapp-footer" ? "true" : "false"),

					"endpoints": {
						"baseUrl": "@Model.BaseUrl",
						"calculation": "@Html.Raw( Model.CalculationEndpoint )",
						"kamlVerification": "@Model.VerifyKatAppEndpoint",
						"jwtDataUpdates": "@Model.JwtDataUpdatesEndpoint",
						"katDataStore": "@Model.KatDataStoreEndpoint",
						"manualResults": @Html.Raw( Model.ManualResultsEndpoint ),
						"resourceStrings": "api/katapp/resource-strings",
						"anchoredQueryStrings": "@Html.Raw( Model.AnchoredQueryStrings )",
						"relativePathTemplates": @Html.Raw( Model.RelativePathTemplates ),
					},
					
					"delegates": {
						"katAppNavigate": @(!string.IsNullOrEmpty( Model.NavigateAction ) ? @Model.NavigateAction : "undefined" ),
						"encryptCache": @(!string.IsNullOrEmpty( Model.EncryptAction ) ? @Model.EncryptAction : "undefined" ),
						"decryptCache": @(!string.IsNullOrEmpty( Model.DecryptAction ) ? @Model.DecryptAction : "undefined" ),

						"setSessionItem": @(!string.IsNullOrEmpty( Model.SetSessionAction ) ? @Model.SetSessionAction : "undefined" ),
						"getSessionItem": @(!string.IsNullOrEmpty( Model.GetSessionAction ) ? @Model.GetSessionAction : "undefined" ),
						"removeSessionItem": @(!string.IsNullOrEmpty( Model.RemoveSessionAction ) ? @Model.RemoveSessionAction : "undefined" )
					},

					"intl": {
						"currentCulture": "@currentCulture.Name",
						"currentUICulture": "@currentUICulture.Name",
						"currencyCode": "@currencyCode",
						"currencyDecimalSeparator": "@numberFormat.CurrencyDecimalSeparator"
					},

					"debug": {
						"useTestCalcEngine": @Model.UseTestCalcEngine,
						"traceVerbosity": @Model.TraceVerbosity,
						"useTestView": @Model.UseTestView,
						"debugResourcesDomain": @Html.Raw( Model.DebugResourcesDomain ),
						"showInspector": "@Model.ShowInspector"
					},

					"inputs": @Html.Raw( Model.ManualInputs ),

					"currentPage": "@Model.CurrentPage",
					"environment": "@Model.Environment",
					"requestIP": "@Model.RequestIP"
				}
			);
		} catch (ex) {
			console.error({ex});
		}
	});

	//# sourceURL=KatApp.@(Model.Name).Startup.js
</script>